/* .App {
    text-align: center;
} */

#drum-machine {
    
    /* width: 500px; */
    /* height: 400px; */
    /* border: 2px solid #000; */ 
    display: flex;
    height: 100%;
    /* /* align-items: center; */
    justify-content: center; 
    background: rgb(255, 212, 118);
}
#main-container {
    align-self: center;
    width: 700px;
    height: 300px;
    border: 5px solid rgb(161, 91, 0); 
    background: #ddd;
    display: flex;
    justify-content: space-evenly;
}
#container {
    display:flex;

}