/* .App {
    text-align: center;
} */

#drum-machine {
    
    /* width: 500px; */
    /* height: 400px; */
    /* border: 2px solid #000; */ 
    display: flex;
    height: 100%;
    /* /* align-items: center; */
    justify-content: center; 
}
#display {
    /* max-width: 50%; */
    align-self: center;
    width: 700px;
    height: 300px;
    border: 2px solid #000; 
}